{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div class="author-image">
	<a href="/archive/author.html#{{page.author}}"><img src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }}"></a>
</div><!-- ./author-image -->
<div class="author-content">
	<h3 class="author-name" ><a href="/archive/author.html#{{page.author}}"> {{ author.name }}</a></h3>
    {% if author.web %}<div><a href="{{author.web}}" target="blank">{{author.web}}</a></div>{% endif %}
	<div class="author-bio">{{ author.bio }}</div>
</div><!-- ./author-content -->
