<style type="text/css">
#bdshare_weixin_qrcode_dialog_qr td {
    border: 0;
    padding:0;
    margin:0;
}
</style>
<script src="{{ site.url }}/js/vendor/jquery.qrcode.min.js"></script>
<div class="bdsharebuttonbox">
<div id="mnqrcode" style="cursor:pointer; z-index:9999; position: absolute; display: none;"   onclick="$('#mnqrcode').css('display','none')"></div>
<img src="../images/code/32x32-qrcode.png" style="float: left; margin: 6px; cursor:pointer;" 
onclick="$('#mnqrcode').css('display','block')">
<a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
<a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
<a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
<a href="#" class="bds_more" data-cmd="more"></a>
</div>

<script type="text/javascript">
var teaserinfo = document.getElementById("teaserinfo");
var siteUrl = "{{ site.url }}{{ page.url }}"
window._bd_share_config = {
    common : {
        bdText : "#攻城狮#"+teaserinfo.alt,
        bdDesc : teaserinfo.alt,
        bdUrl  : siteUrl, 
        bdPic  : teaserinfo.src
    },
    share : [{
        "bdSize" : 32
    }]
}

with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];

$('#mnqrcode').qrcode(siteUrl)
</script>