---
layout: default
---

<div id="main" role="main">			
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
        <div>
        {% if page.category %}
          <a href="{{ site.url }}/{{ page.category }}/" class="btn-info">{{ site.data.category[page.category]}}▼</a> 
        {% endif %}
        <a href="{{ site.url }}/archive/year.html#{{page.date | date: '%Y'}}" class="btn-info">{{page.date | date: '%Y'}}▼</a> 
        {% if page.tags %}
        {% for tag in page.tags %} 
          <a href="{{ site.url }}/archive/tag.html#{{ tag }}" class="btn-success">{{ tag }}</a> 
        {% endfor %}
        {% endif %}
        </div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
                {% if page.teaser %}
                <div style="margin:2rem 0 2rem 0">
                <img id="teaserinfo" src="{{ site.url }}/images/{{ page.teaser }}" alt="《{{page.title}}》 {{page.excerpt}}" itemprop="image">
                {% if page.teaserinfo %}<div style="max-width:400px">题图：{{page.teaserinfo}}</div>{% endif %}
                </div>
                {% endif %}
				<footer class="page-footer">
					{% include page-author.html %}
                    {% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
                    {% include page-navi.html %}
                    {% if page.share == true %}{% include share-this-baidu.html %}{% endif %}
                    {% if page.comments == true %}{% include comments-duoshuo.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
